{# Base list of editables #}

{% for comment in commentdata['comments'] %}
    <div class="entryblock" contenteditable="true" id="{{comment['id']}}">
        {% for row in comment['commentdata'].split('\n') %}
            {% if loop.index > 1 %}
                <br>
            {% endif %}
            {{row}}
        {% endfor %}
    </div>
    <br>
{% endfor %}

<div class="entryblock" contenteditable="true" id="new"> </div>
<br>

<script>
const entryBoxes = document.querySelectorAll('.entryblock')

for (const entryBox of entryBoxes) {
    entryBox.addEventListener('blur', reaction)
}

function reaction(event) {
    let callingBox = event.srcElement
    commentid = callingBox.id
    commentdata = callingBox.innerText

    if (commentid == "new") {
        fetch( "{{commentdata['endpoint']}}",
        { method: 'POST',
            body: JSON.stringify({commentdata: commentdata}) })
    }
    else {
        let currentEndpoint = "{{commentdata['endpoint']}}"+"?commentid="+commentid
        if (commentdata==""){ // remove comment
            fetch( currentEndpoint, {method:'DELETE'} )
        }
        else {
            fetch(currentEndpoint,
                {method:'PUT',
                body: JSON.stringify({commentdata: commentdata}) } )
        }
    }
    location.reload()
}
</script>