{% extends "layout.html" %}

{% block subtitle %} new page {% endblock %}

{% block body %}

<h1> Add a new page </h1>

<form action="" method="post">
  <div>
    <label for="url">Page URL: </label>
    <input type="text" name="url">
  </div>
  <div>
    <label for="name">Page Name: </label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="topics">Topics: </label>
    <!-- Hack from stack overflow: set to email as to allow multiple autofill.  -->
    <input type="email" name="topics" list="knowntopics" multiple> 
    <datalist id="knowntopics">
      {% for topic in topicList %}
        <option value="{{topic['name']}}">
      {% endfor %}
    </datalist>
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>

<script>
var urlField = document.querySelector("form input[name='url']")
var nameField = document.querySelector("form input[name='name']")
var topicField = document.querySelector("form input[name='topics']")
var submitButton = document.querySelector("form input[type='submit']")


submitButton.addEventListener('click', makeText)
urlField.addEventListener('blur', deselectURL)



function deselectURL(event){
  if (nameField.value == "") {
    if (urlField.value==""){
      return
    }

    let resourceTitle = fetch("{{url_for('api.getWebpageTitle')}}",
      {method: 'POST',
       body: urlField.value}).then((x)=>x.text()).then( (title)=>nameField.value=title )
  }
}

function makeText(event) {
  topicField.type = "text"
  console.log(topicField.type)
}



</script>

{% endblock %}
