{% extends "layout.html" %}

{% block subtitle %}home{% endblock %}

{% block body %}

<h1>Welcome to organizer</h1>

<h2><a href="{{ url_for('newPage') }}"> Add Page </a> </h2>
<h2><a href="{{ url_for('viewTopics') }}"> All Topics </a> </h2>
<h2><a href="{{ url_for('viewPages') }}"> All Pages </a> </h2>

<h1>Work in Progress</h1>
<h2><a href="">Graph view</a></h2>
<h2><a href="">Directory view</a></h2>
<h2><a href="{{url_for('viewTable')}}">Table</a></h2>
<h2><a href="{{url_for('experimental', relationshipid=1)}}">Subtopics</a></h2>

{% endblock %}