{# Base list of links #}
<table class="reference-table">
    <thead>
        <tr>
            <th colspan="2"> {{tableTitle}} </th>
        </tr>
    </thead>
    <tbody>
        {% for entry in tableEntries  %}
            <tr>
                <td class="wide-column"> 
                    <a href="{{ entry['link'] }}" > 
                        {% if entry['name'] %}
                            {{entry['name']}}
                        {% else %}
                            [blank]
                        {% endif %}  </a> 
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>