{# Tree view of topics #}


{% macro subtree(rootid, rootname, relatedTopics) %}
  <li><span class="caret">{{rootname}}</span>
    <ul class="nested">
    {%- for pair in relatedTopics %}
      {%- if pair['parentid']==rootid %}
        {{subtree(pair['childid'], pair['childname'], relatedTopics ) }}
      {% endif %}
    {%- endfor %}
  </ul>
  </li>
{%- endmacro %}

<ul id="topicTree">
  {{subtree(pagedata['topic']['id'], pagedata['topic']['name'], pagedata['leftTopics']) }}
<ul id="topicTree">


<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>
