{% extends "layout.html" %}

{% block subtitle %}Topic: {{pagedata['topic']['name']}}{% endblock %}

{% block body %}


<h1> {{pagedata['topic']['name']}} </h1>

{% include "editablecomments.html" %}

<div class="table-wrapper">
    <div class="table-body">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Pages:</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pagedata['pages'] %}
                    <tr>
                        <td class="wide-column"> <a href="{{ url_for('servePage', pageid=page['id'])}}" >  {{ page["name"] }}  </a> </td>
                        <td class="thin-column"> <a href="{{ url_for('viewEntry', page=page['id'])}}" > info  </a> </td>

                        {% if "topicid" in page and page["topicid"] != pagedata['topic']['id'] %}
                             <td class="thin-column"> <a href="{{ url_for('viewEntry', topic=page['topicid']) }}" > {{page["topicname"]}} </a> </td>
                        {% else %}
                            <td class="thin-column"> <a href="{{ url_for('button.remove_pair', pageid=page['id'], topicid=pagedata['topic']['id'], base='topic') }}" > Remove from topic </a> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="table-sidebar">

    </div>
</div>



<div align="right">
<a href="{{ url_for('viewEntry', topic=pagedata['topic']['id'], toggle='selectRelated', **pageState) }}">Show subtopic pages</a>
</div>


<div class="autofill-form" data-endpoint="{{url_for('api.topic.related_pages', topicid=pagedata['topic']['id'], _external=True)}}">
  <input name="pageid" list="knownpages" class="autofill-box"> 
  <datalist id="knownpages">
    {% for page in allPages %}
      <option data-requestkey="pageid" data-requestvalue="{{page['id']}}" >{{page['name']}}</option>
    {% endfor %}
  </datalist>
  <input type="submit" value="Add page">
</div>




<!-- Edit Panel -->
<h3> <a href="{{ url_for('viewEntry', topic=pagedata['topic']['id'], toggle='editPanel', **pageState) }}"> Edit Topic </a> </h3>

{% if pageState["editPanel"] %}
<form action="{{url_for('button.editTopic')}}" method="post">
  <input type="hidden" name="id" value="{{pagedata['topic']['id']}}">
  <div>
    <label for="name">Topic Name: </label>
    <input type="text" name="name" value="{{pagedata['topic']['name']}}">
  </div>
  <div>
    <input type="submit" value="Edit">
  </div>
</form>
<br>
<a href="{{ url_for('button.delete', topicid=pagedata['topic']['id']) }}"> Delete Topic </a>
{% endif %}



<!-- Subtopics Panel -->
<h2> Related Topics </h2>

<table>
    <thead>
        <tr>
            <th colspan="2">Subtopics:</th>
        </tr>
    </thead>
    <tbody>
        {% for relatedTopic in pagedata['leftTopics'] %}
            <tr>
                <td class="thin-column"> <a href="{{url_for('viewEntry', topic=relatedTopic['lefttopicid'])}}">  {{ relatedTopic['name'] }}  </a> </td>
                <td class="thin-column"> <a href="{{url_for('button.remove_TTR', lefttopicid=relatedTopic['lefttopicid'], righttopicid=pagedata['topic']['id'])}}"> Remove relationship </a> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "topictree.html" %}

<div class="autofill-form" data-endpoint="{{url_for('api.topic.related_topics', topicid=pagedata['topic']['id'], relationshipid=1, side='left', _external=True)}}">
  <input name="topicid" list="knowntopics" class="autofill-box"> 
  <datalist id="knowntopics">
    {% for topic in allTopics %}
      <option data-requestkey="relatedtopicid" data-requestvalue="{{topic['id']}}">{{topic['name']}}</option>
    {% endfor %}
  </datalist>
  <input type="submit" value="Add subtopic">
</div>



{% endblock %}