{% extends "layout.html" %}

{% block subtitle %}Page: {{ pagedata['page']["name"] }}{% endblock %}

{% block body %}


<h1> <a href="{{ url_for('servePage', pageid=pagedata['page']['id']) }}" >  {{ pagedata['page']["name"] }}  </a> </h1>

{% include "editablecomments.html" %}


<div class="table-wrapper">
    <div class="table-body">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Topics:</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in pagedata['topics'] %}
                    <tr>
                        <td class="wide-column"> <a href="{{ url_for('viewEntry', topic=topic['id']) }}" > {{topic['name']}} </a>  </td>
                        <td class="thin-column"> <a href="{{ url_for('button.remove_pair', pageid=pagedata['page']['id'], topicid=topic['id'], base='page') }}" > Remove topic  </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-sidebar" style="height: 35vh;">
    </div>
</div>




<div class="autofill-form" data-endpoint="{{url_for('api.page.related_topics', pageid=pagedata['page']['id'], _external=True)}}">
  <input name="topicid" list="knowntopics" class="autofill-box"> 
  <datalist id="knowntopics">
    {% for topic in allTopics %}
      <option data-requestkey="topicid" data-requestvalue="{{topic['id']}}">{{topic['name']}}</option>
    {% endfor %}
  </datalist>
  <input type="submit" value="Add topic">
</div>

<br>
<a href="">Show including topics</a>


<h3> <a href="{{ url_for('viewEntry', page=pagedata['page']['id'], toggle='editPanel', **pageState) }}"> Edit Page </a></h3>
{% if pageState['editPanel'] %}
<form action="{{url_for('button.editPage')}}" method="post">
    <input type="hidden" name="id" value="{{pagedata['page']['id']}}">
  <div>
    <label for="url">Page URL: </label>
    <input type="text" name="url" value="{{pagedata['page']['url']}}">
  </div>
  <div>
    <label for="name">Page Name: </label>
    <input type="text" name="name" value="{{pagedata['page']['name']}}">
  </div>
  <div>
    <input type="submit" value="Edit">
  </div>
</form>
<br>
<br>
<a href="{{ url_for('button.delete', pageid=pagedata['page']['id']) }}"> Delete page </a>
{% endif %}


{% endblock %}