{% extends "layout.html" %}

{% block subtitle %}Page: {{ page["name"] }}{% endblock %}

{% block body %}


<h1> <a href="{{ url_for('servePage', pageid=page['id']) }}" >  {{ page["name"] }}  </a> </h1>

{% include "editablecomments.html" %}

<table>
    <thead>
        <tr>
            <th colspan="2">Topics:</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
            <tr>
                <td class="wide-column"> <a href="{{ url_for('viewEntry', topic=topic['id']) }}" > {{topic['name']}} </a>  </td>
                <td class="thin-column"> <a href="{{ url_for('button.remove_pair', pageid=page['id'], topicid=topic['id'], base='page') }}" > Remove topic  </a> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('button.add_PTR', pageid=page['id']) }}"> Add topic </a>
<br>
<a href="">Show including topics</a>


<h3> <a href="{{ url_for('viewEntry', page=page['id'], toggle='editPanel', **pageState) }}"> Edit Page </a></h3>
{% if pageState['editPanel'] %}
<form action="{{url_for('button.editPage')}}" method="post">
    <input type="hidden" name="id" value="{{page['id']}}">
  <div>
    <label for="url">Page URL: </label>
    <input type="text" name="url" value="{{page['url']}}">
  </div>
  <div>
    <label for="name">Page Name: </label>
    <input type="text" name="name" value="{{page['name']}}">
  </div>
  <div>
    <input type="submit" value="Edit">
  </div>
</form>
<br>
<br>
<a href="{{ url_for('button.delete', pageid=page['id']) }}"> Delete page </a>
{% endif %}


{% endblock %}