<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Organizer {% block subtitle %}{% endblock %}</title>
    <script type="text/javascript" src="static/react.development.js"></script>
    <script type="text/javascript" src="static/react-dom.development.js"></script>
    <script type="text/javascript" src="static/react-table.js"></script>

    <script type="text/javascript" src="static/drivers.js" defer></script>

    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    {% block includes %} {% endblock %}
  </head>

  <body>
    <nav class="navheader">
      <ol>
        <li class="navheader"><a href="{{ url_for('home') }}">Home</a></li>
        <li class="navheader"><a href="{{ url_for('viewPages') }}">Pages</a></li>
        <li class="navheader"><a href="{{ url_for('viewTopics') }}">Topics</a></li>
        <li class="navheader"><a href="{{url_for('viewRelationships')}}">Relationships</a></li>
      </ol>
    </nav>

    {% block body %} {% endblock %}
  </body>

</html>