{% extends "layout.html" %}

{% block subtitle %}Pages List{% endblock %}

{% block includes %}
 <script type="text/javascript" src="../static/TableComponents.js" defer></script>
{% endblock %}
   
{% block body %}

<div class="table-wrapper">
    <div class="table-body" data-endpoint="{{url_for('api.page.all_pages', _external=True)}}">
        {% include "linkslist.html" %}
    </div>
    <div class="table-sidebar"></div>
</div>
 <a href="{{ url_for('newPage') }}"> Add Page </a> 
{% endblock %}
